PUBLIC_URL="http://127.0.0.1:8000"
AUTH_URL="https://auth.laurel.informatik.uni-freiburg.de"
CLIENT_ID="u8KOinMFzrZW6npAXRg2udfG" # only works locally
CLIENT_SECRET="zSZ2UrGNeIpVDzlP4CnY90HNEX6U5NgtYCukGQNG2ZvgMWyR" # only works locally
SECRET_KEY="super_secret_key" # change this in production
COURSE="20XXWS-EidP"
API_KEY="" # you cannot have this
API_URL="" # you cannot have this
ADMINS=["xy123"] # enter your account name